<div class="details">
  <div class="abilities">
    {% for a in character.get_abilities %}
    <div class="ability">
      <h3>{{ a.2 }}<small>({{ a.1 }})</small></h3>
      <p>{{ a.0 }}</p>
    </div>
    {% endfor %}
  </div>
  <div class="saving_throws">
    <h3>Saving Throws</h3>
    {% for s in character.get_saving_throws %}
    <div class="skill_box" style="{{ s.3 }}">
      <div class="left">
        {{ s.2 }}
      </div>
      <div class="right">
        {{s.0}}
      </div>
    </div>
    {% endfor %}
    <div class="pro_bonus">
        <div class="number">+{{ character.proficiency_bonus }}</div>
        <div class="text">Proficiency Bonus</div>
      </div>
  </div>
  <div class="skill-list">
    <h3>Skills</h3>
    {% for s in skills.get_skills %}
    <div class="skill_box" {% if s.2 in character.skill_list %} style="border: solid 2px #16a085;" {% endif %}>
      <div class="left">
        {{ s.1 }}
      </div>
      <div class="right">
        {{ s.0 }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

