<div class="background info-div" data-update="background">
  <div class="bg-container">
    {% if character.background %}
    <h3>{{ character.background }}</h3>
    <div class="info-text-edit-background"></div>
    <div class="info-text-background"><p style="white-space: pre-line">{{ character.background_skills }}</p></div>
    <span class="edit_background" style="float: right; visibility: hidden"><a href class="edit" data-update="background"><i class="fa fa-edit"></i></a></span>
    {% else %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_background_modal" name="button">Add Background</button>
    {% endif %}
  </div>
</div>
<div class="modal fade" id="add_background_modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add New Background</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="new_background_form">
          <div class="form-group">
            <label for="background_name">Title:</label>
            <input type="text" class="form-control" name="background_name">
          </div>
          <p>Choose 2:</p>
          <div class="alert alert-danger skills_bg_alert" style="display: none">You must choose 2 skills.</div>
          <div class="row">
            {% for s in character.choose_bg_skills %}
            <div class="col-3">
              <input type="checkbox" class="char_skills" name="bg_skills" value="{{ s.0 }}"> {{ s.1 }}
            </div>
            {% endfor %}
          </div>
          <div class="form-group">
            <label for="background_desc">Description:</label>
            <textarea name="background_desc" class="form-control" rows="8" cols="80"></textarea>
          </div>
          <button type="button" class="btn btn-primary submit-background" name="button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
