 <div class="details">
   <div class="char-img">
    {% if character.image %}
     <img src="{{ character.image.url }}" class="character_image" alt="character">
     <img src="{{ character.thumbnail.url }}" class="character_thumb">
     {% endif %}
     

   </div>
   <div class="char-details">
      <h2 class="char-name">{{ character.name }}</h2>
      <p>
        <b>Class:</b><br>
        {{ character.c_class }} {{ character.level }}<br>
        <b>Race:</b><br>
        {{ character.c_race }}<br>
        <b>Background:</b><br>
        {% if character.background %}{{ character.background }}{% endif %}<br>
        <b>Alignment:</b><br>
        {{ character.get_alignment }}<br>
        <b>EXP.</b><br>
        {{ character.exp }}
      </p>
      <button class="btn btn-primary" data-toggle="modal" data-target="#add-image">Upload Image</button>
   </div>
 </div>
<div class="modal fade" id="add-image" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Character Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/profile/{{ user.username }}/character_info/{{ character.id }}/image_upload/" class="upload_char_image" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ image_upload_form }}
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>