<div class="row">
  {% for i in character.get_character_info %}
  {% if i.2 != None %}
  <div class="col-12 info-div" data-update="{{ i.0 }}">
    <h3>{{ i.1 }}</h3>
    <div class="card">
      
      <div class="card-body">
        <div class="info-text-edit-{{ i.0 }}"></div>
        <div class="info-text-{{ i.0 }}"><p style="white-space: pre-line">{{ i.2 }}</p></div>
        <span class="edit_{{ i.0 }}" style="float: right; visibility: hidden"><a href class="edit" data-update="{{ i.0 }}"><i class="fa fa-edit"></i></a></span>
      </div>
    </div>
  </div>
  {% else %}
  <div class="col-12">
    <h3>{{ i.1 }}</h3>
    <form class="{{ i.0 }}_form" data-update="{{ i.0 }}">
      <div class="form-group">
        <label for="{{ i.0 }}_label">{{ i.1 }}</label>
        <textarea name="{{ i.0 }}" class="form-control" rows="8" cols="80"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" name="button">Submit</button>
    </form>
  </div>
  {% endif %}
  {% endfor %}
</div>
