{% extends 'base.html' %}
{% block content %}
<h2>Edit Campaign</h2>
<div class="container-fluid">
  <h3>Campaign: {{ campaign.name }}</h3>
  <div class="row">
    <div class="col">
      <p>
        <b>Player Limit: </b>{{ campaign.player_limit }}<br>
        <b></b>
      </p>
    </div>
    <div class="col">
      <a class="btn btn-primary" href="/campaign/{{ user.username }}/{{ campaign.slug }}/chapter/new">Add Chapter</a>
      {% if chapters %}
      {% for chap in chapters %}
      <div class="chapter-container">
        <p>{{ chap.name }}</p>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
