@import url('https://fonts.googleapis.com/css?family=Quicksand');
$main-color: #92140C;
$secondary-color: #40798C;
$alt-color: #0B2027;
$sec-alt-color: #70798C;

h1, h2, h3, h4, h5, h6, p, a, span, ul, li, div {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif
}
.container.home {
  padding-top: 25px;
  min-height: 80vh;
  background-color: #ecf0f1;
  margin-top: 10px;
  text-align: center;
}
.top-bar {
  width: 100%;
  padding: 0px;
  margin: 0px;
  .nav-link {
    font-size: small;
  }
}
