{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">

    <div class="col-4 offset-4">
      <form class="create_character">
        <!-- New Character name -->
        <div class="form-group">
          <label for="char_name">Character Name:</label>
          <input type="text" class="form-control" name="char_name">
        </div>
        <!-- New Character class -->
        <div class="form-group">
          <label for="char_class">Character Class:</label>
          <p style="font-size: small"><i>Select class and the information will be displayed on the right</i></p>
          <select class="form-control select-character-class" name="char_class">
            <option value="none">----- Select -----</option>
            {% for c in classes %}
            <option value="{{ c.id }}">{{ c.name }}</option>
            {% endfor %}
          </select>
          <a data-toggle="modal" data-target="#class_info" style="cursor: pointer"><span class="badge badge-pill badge-primary">Info</span></a>
        </div>
        <!-- New Character race -->
        <div class="form-group">
          <label for="char_race">Character Race:</label>
          <p style="font-size: small"><i>Select race and the information will be displayed on the right</i></p>
          <select class="form-control select-character-race" name="char_race">
            <option value="none">----- Select -----</option>
            {% for r in races %}
            <option value="{{ r.id }}">{{ r.name }}</option>
            {% endfor %}
          </select>
          <a data-toggle="modal" data-target="#race_info" style="cursor: pointer"><span class="badge badge-pill badge-primary">Info</span></a>
        </div>
        <!-- New Character Alignment -->
        <div class="form-group">
          <label for="char_alignment">Character Alignment:</label>
          <select class="form-control" name="char_alignment">
            <option value="none">----- Select -----</option>
            {% for a in alignments %}
            <option value="{{ a.0 }}">{{ a.1 }}</option>
            {% endfor %}
          </select>
          <a data-toggle="modal" data-target="#alignment_info" style="cursor: pointer"><span class="badge badge-pill badge-primary">Info</span></a>
        </div>
        <!-- New character Level -->
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="char_lvl">Level</label>
              <input type="number" class="form-control" name="char_lvl" value="1">
            </div>
          </div>
        </div>
        <hr>

        <p>In this section you may choose do determine your character's ability by either doing it yourself or by pressing the button below.  The button will display 6 numbers for you to place them in the characte's ability.</p>
        <!-- Generates 6 random numbers to populate the character's ability -->
        <button type="button" onclick="ability()" name="button">Generate Numbers</button>
        <div class="ability-numbers"></div>
        <!-- ability section -->
        <div class="row">
          <!-- Strength/Damage -->
          <div class="col-4">
            <div class="form-group">
              <label for="char_damage">Strength:</label>
              <div class="input-group">
                <input id="dmg" type="number" class="form-control abilities" name="char_strength">
                <div class="input-group-append">
                  <div class="input-group-text" id="dmg-mod">
                    +/-#
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Dexterity -->
          <div class="col-4">
            <div class="form-group">
              <label for="char_dex">Dexterity:</label>
              <div class="input-group">
                <input id="dex" type="number" class="form-control abilities" name="char_dex">
                <div class="input-group-append">
                  <div class="input-group-text" id="dex-mod">
                    +/-#
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Constitution -->
          <div class="col-4">
            <div class="form-group">
              <label for="char_const">Constitution:</label>
              <div class="input-group">
                <input id="const" type="number" class="form-control abilities" name="char_const">
                <div class="input-group-append">
                  <div id="const-mod" class="input-group-text">
                    +/-#
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Intelligence -->
          <div class="col-4">
            <div class="form-group">
              <label for="char_int">Intelligence:</label>
              <div class="input-group">
                <input id="int" type="number" class="form-control abilities" name="char_int">
                <div class="input-group-append">
                  <div id="int-mod" class="input-group-text">
                    +/-#
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Wisdom -->
          <div class="col-4">
            <div class="form-group">
              <label for="char_wis">Wisdom:</label>
              <div class="input-group">
                <input id="wis" type="number" class="form-control abilities" name="char_wis">
                <div class="input-group-append">
                  <div id="wis-mod" class="input-group-text">
                    +/-#
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Charisma -->
          <div class="col-4">
            <div class="form-group">
              <label for="char_charisma">Charisma:</label>
              <div class="input-group">
                <input id="char" type="number" class="form-control abilities" name="char_charisma">
                <div class="input-group-append">
                  <div id="char-mod" class="input-group-text">
                    +/-#
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" name="button">Create Character</button>
      </form>
    </div>
  </div>
</div>
<!-- Class Info modal -->
<div class="modal fade" id="class_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Class Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="class_details">
          <i>Select class to view details</i>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Race Info modal -->
<div class="modal fade" id="race_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Race Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="race_details">
          <i>Select race to view details</i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="alignment_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alignment Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          <b>Lawful good (LG): </b>creatures can be counted on to do the right thing as expected by society. Gold dragons, paladins, and most dwarves are lawful good.<br>
          <b>Neutral good (NG): </b>folk do the best they can to help others according to their needs. Many celestials, some cloud giants, and most gnomes are neutral good.<br>
          <b>Chaotic good (CG): </b>creatures act as their conscience directs, with little regard for what others expect. Copper dragons, many elves, and unicorns are chaotic good.<br>
          <b>Lawful neutral (LN): </b>individuals act in accordance with law, tradition, or personal codes. Many monks and some wizards are lawful neutral.<br>
          <b>True Neutral (N): </b> is the alignment of those who prefer to steer clear of moral questions and don't take sides, doing what seems best at the time. Lizardfolk, most druids, and many humans are neutral.<br>
          <b>Chaotic neutral (CN): </b>creatures follow their whims, holding their personal freedom above all else. Many barbarians and rogues, and some bards, are chaotic neutral.<br>
          <b>Lawful evil (LE): </b>creatures methodically take what they want, within the limits of a code of tradition, loyalty, or order. Devils, blue dragons, and hobgoblins are lawful evil.<br>
          <b>Neutral evil (NE): </b>is the alignment of those who do whatever they can get away with, without compassion or qualms. Many drow, some cloud giants, and goblins are neutral evil.<br>
          <b>Chaotic evil (CE): </b>creatures act with arbitrary violence, spurred by their greed, hatred, or bloodlust. Demons, red dragons, and orcs are chaotic evil.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block bottomscript %}
<script type="text/javascript" src="/static/js/character/character.js"></script>
<script type="text/javascript" src="/static/js/character/character_creation.js"></script>
<script type="text/javascript">
  const url = '/profile/{{ user.username }}/character_creation/';
  const csrf = '{{ csrf_token }}';

  // Submit form
  $(document).on('submit', '.create_character', function() {
    var name = $('input[name="char_name"]').val(),
        char_class = $('select[name="char_class"]').val(),
        race = $('select[name="char_race"]').val();
  })

  // generate modifier of ability
  $(document).on('change', '.abilities', function() {
    var modify = this.id;
    var value = $(this).val();
    console.log('value: ' + value);
    var ability = modifier(value);
    var html = ``;
    if (ability > 0) {
      html += `+ ${ability}`;
    } else {
      html += `${ability}`;
    }
    $('#'+modify+'-mod').empty().html(html);

  })
  // get character class details
  $(document).on('change', '.select-character-class', function() {
    // console.log($(this).val())
    var value = $(this).val();
    if (value != 'none'){
      select_class(url, csrf, value);
    }
    return false;
  });
  // get character race details
  $(document).on('change', '.select-character-race', function() {
    var value = $(this).val();
    if (value != 'none') {
      select_race(url, csrf, value);
    }
  });
  $(document).on('change', 'select', function() {
    $(this).removeClass('is-invalid');
    $(this).addClass('is-valid');
  })
  $(document).on('submit', '.create_character', function(e) {
    e.preventDefault()
    $('select').each(function(index) {
      if ($(this).val() == 'none') $(this).addClass('is-invalid')
    })

    console.log('Approved')
    var c_class, c_race, alignment, name, level, hit_points, speed, strength, dex, cons, int, charm, wisdom;
    c_class = $('select[name="char_class"]').val();
    c_race = $('select[name="char_race"]').val();
    alignment = $('select[name="char_alignment"]').val();
    name = $('input[name="char_name"]').val();
    level = $('input[name="char_lvl"]').val();
    hit_points = $('input[name="char_hp"]').val();
    speed = $('input[name="char_speed"]').val();
    strength = $('input[name="char_strength"]').val();
    dex = $('input[name="char_dex"]').val();
    cons = $('input[name="char_const"]').val();
    int = $('input[name="char_int"]').val();
    wisdom = $('input[name="char_wis"]').val();
    charm = $('input[name="char_charisma"]').val();
    if (c_class == 'none' || c_race == 'none' || alignment == 'none' || name == '' || level == '' || hit_points == '' || speed == '' || strength == '' || dex == '' || cons == '' || int == '' || wisdom == '' || charm == '') {
      return 0;
    }

    submit_character(url, csrf, c_class, c_race, alignment, name, level, hit_points, speed, strength, dex, cons, int, charm, wisdom);
    return false;
  })
</script>
{% endblock %}
