{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- information box  -->
      <div class="row">
        <div class="col-xl-9 col-md-12 col-sm-12">
          <div class="character_info">
            {% include 'profile/character/info/information.html' %}
          </div>
          <div class="character_abilities">
            {% include 'profile/character/info/abilities.html' %}
          </div>
          <div class="character_actions">
            {% include 'profile/character/info/actions.html' %}
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="character_inventory">
                {% include 'profile/character/info/equipment.html' %}
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="character_spells">
                {% include 'profile/character/info/spells.html' %}
              </div>
            </div>
          </div>


        </div>

        <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="character_skills">
            {% include 'profile/character/info/skills.html' %}
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-6">
      <div class="card">
          <div class="card-body">
            <ul class="nav nav-tabs" id="TabItems" role="tablist">
              <li class="nav-item"><a href="#tab-background" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tab-background" aria-selected="true">Background</a></li>
              <li class="nav-item"><a href="#tab-feat" class="nav-link" data-toggle="tab" role="tab" aria-controls="tab-feat" aria-selected="true">Features</a></li>
              <li class="nav-item"><a href="#tab-traits" class="nav-link" data-toggle="tab" role="tab" aria-controls="tab-traits" aria-selected="true">Traits</a></li> -->
              <!-- Extend Traits -->
              <!-- <li class="nav-item"><a href="#tab-class" class="nav-link" data-toggle="tab" role="tab" aria-controls="tab-class" aria-selected="true">About {{ character.c_class }}</a></li>
              <li class="nav-item"><a href="#tab-race" class="nav-link" data-toggle="tab" role="tab" aria-controls="tab-race" aria-selected="true">About {{ character.c_race }}</a></li>
            </ul>
            <div class="tab-content" id="tab-items">
              <div class="tab-pane fade show active" id="tab-background" role="tabpane">
                
              </div>
              <div class="tab-pane fade show" id="tab-feat" role="tabpane">
                
              </div>
              <div class="tab-pane fade show" id="tab-traits" role="tabpane">
                
              </div>
              <div class="tab-pane fade show" id="tab-class" role="tabpane">
                
              </div>
              <div class="tab-pane fade show" id="tab-race" role="tabpane">
                
              </div>
            </div>
          </div>
        </div>
    </div> -->
    <div class="col-4">
      {% include 'profile/character/info/background.html' %}
      <br>
      {% include 'profile/character/info/features.html' %}
    </div>
    <div class="col-4">
      {% include 'profile/character/info/traits.html' %}
    </div>
    <div class="col-4">
      {% include 'profile/character/info/character_class.html' %}
      <br>
      {% include 'profile/character/info/character_race.html' %}
    </div>
  </div>

</div>
<div class="character-modals">{% include 'profile/character/info/modals.html' %}</div>
{% endblock %}
{% block bottomscript %}
<script type="text/javascript">
  const url = '/profile/{{ user.username }}/character_info/{{ character.id }}/';
  const csrf = '{{ csrf_token }}';
  const class_skill_limit = parseInt('{{ character.c_class.skills_limit }}');
  $('.dataTable').DataTable({
    paging: false
  });
</script>
<script type="text/javascript" src="/static/js/character/character.js"></script>
<script type="text/javascript" src="/static/js/character/character_info.js"></script>
<script type="text/javascript" src="/static/js/character/edit.js"></script>
{% endblock %}
