{% extends 'base.html' %}
{% block content %}

<div class="container-fluid character_sheet">
  <!-- Selectors -->
  <div class="display_selector">
    <!-- Information -->
    <div class="selector active" data-to-display="info">
      <div class="selector_title">Information</div>
    </div>
    <!-- Abilities -->
    <div class="selector" data-to-display="abilities">
      <div class="selector_title">Abilities</div>
    </div>
    <!-- Equipment -->
    <div class="selector" data-to-display="inventory">
      <div class="selector_title">Equipment</div>
    </div>
    <!-- Spells -->
    <div class="selector" data-to-display="spells">
      <div class="selector_title">Spells</div>
    </div>
    <!-- Background -->
    <div class="selector" data-to-display="background">
      <div class="selector_title">Background</div>
    </div>
    <!-- Features -->
    <div class="selector" data-to-display="feat">
      <div class="selector_title">Features</div>
    </div>
    <!-- Traits -->
    <div class="selector" data-to-display="traits">
      <div class="selector_title">Traits</div>
    </div>
    <!-- Class & Race -->
    <div class="selector" data-to-display="class_race">
      <div class="selector_title">Class &amp; Race</div>
    </div>
  </div>
  <div class="display_container">
    <div class="character_info display show">
      {% include 'profile/character/info/information.html' %}
    </div>
    <div class="character_abilities display">
      {% include 'profile/character/info/abilities.html' %}
    </div>
    <div class="character_inventory display">
      {% include 'profile/character/info/equipment.html' %}
    </div>
    <div class="character_spells display">
      {% include 'profile/character/info/spells.html' %}
    </div>
    <div class="character_background display">
      {% include 'profile/character/info/background.html' %}
    </div>
    <div class="character_feat display">
      {% include 'profile/character/info/features.html' %}
    </div>
    <div class="character_traits display">
      {% include 'profile/character/info/traits.html' %}
    </div>
    <div class="character_class_race display">
      {% include 'profile/character/info/character_class.html' %}
    </div>
  </div>

</div>
<div class="character-modals">{% include 'profile/character/info/modals.html' %}</div>
{% endblock %}
{% block bottomscript %}
{{ image_upload_form.media }}
<script type="text/javascript" src="/static/js/block_confirm.js"></script>
<script type="text/javascript">
  const url = '/profile/{{ user.username }}/character_info/{{ character.id }}/';
  const csrf = '{{ csrf_token }}';
  const class_skill_limit = parseInt('{{ character.c_class.skills_limit }}');
  $('.dataTable').DataTable({
    paging: false
  });
</script>

<script type="text/javascript" src="/static/js/character/character.js"></script>
<script type="text/javascript" src="/static/js/character/character_info.js"></script>
<script type="text/javascript" src="/static/js/character/edit.js"></script>
<script>
  $(function() {
    $(document).on('click', '.selector', function() {
      let selectors = document.getElementsByClassName('selector');
      let displays = document.getElementsByClassName('display');
      let toDisplay = $(this).attr('data-to-display');
      for (let i = 0; i < selectors.length; i++) {
        if (selectors[i].classList[1] == 'active') selectors[i].classList.remove('active');
      }
      for (let i = 0; i < displays.length; i++) {
        if (displays[i].classList[2] == 'show') displays[i].classList.remove('show');
      }
      $(this).addClass('active');
      $('.character_' + toDisplay).addClass('show');
    })
  })
</script>
{% endblock %}
