{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <!-- information box  -->
      <div class="row">
        <div class="col-7">
          <div class="card">
            {% include 'profile/character/info/information.html' %}
            
          </div>
        </div>
      <!-- end information box -->
      <!-- ability box -->
        <div class="col-5">
          <div class="card">
            {% include 'profile/character/info/abilities.html' %}
          </div>
        </div>
      </div>
      <!-- end ability box -->
      <div class="row">
        <div class="col-12">
          <div class="character-actions">
            {% include 'profile/character/info/actions.html' %}
          </div>
          <div class="character-inventory">
            {% include 'profile/character/info/equipment.html' %}
          </div>
        </div>
        <div class="col-6">
          <div class="character_background">
            {% include 'profile/character/info/background.html' %}
          </div>
          <div class="character_feature">
            {% include 'profile/character/info/features.html' %}
          </div>
        </div>
        <div class="col-6">
          <div class="character_traits">
            {% include 'profile/character/info/traits.html' %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="character_skills">
        {% include 'profile/character/info/skills.html' %}
      </div>
    </div>
  </div>

</div>
{% endblock %}
{% block bottomscript %}
<script type="text/javascript" src="/static/js/character/character.js"></script>
<script type="text/javascript" src="/static/js/character/character_info.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    const url = '/profile/{{ user.username }}/character_info/{{ character.id }}/';
    const csrf = '{{ csrf_token }}';
    const class_skill_limit = parseInt('{{ character.c_class.skills_limit }}');
    $(document).on('submit', '.personality_traits_form, .ideals_form, .bonds_form, .flaws_form, .equipment_form, .background_form, .feature_form', function(e) {
      e.preventDefault();
      var trait = $(this).attr('data-update');
      var description = $('textarea[name="'+trait+'"]').val();
      submit_trait(url, csrf, trait, description);
      return false;
    })
    getInfo();
    // Edit Feature
    $(document).on('click', '.edit', function(e) {
      e.preventDefault();
      var update = $(this).attr('data-update');
      var text = $('.info-text-' + update).text();
      $('.info-text-' + update).hide();
      openEdit(update, text);
      getInfo();
    });
    // Add new feature
    $(document).on('submit', '.new_feature_form', function() {
      var name = $('input[name="feature_name"]').val(),
          desc = $('textarea[name="feature_desc"]').val();
      addNewFeature(url, csrf, name, desc, 'none', 'feature');
      return false;
    });
    // Add new Background
    $(document).on('click', '.submit-background', function() {
      var name = $('input[name="background_name"]').val(),
          desc = $('textarea[name="background_desc"]').val();
      var get_skills = $('input[name="bg_skills');
      var checked_skills = []
      for (let i = 0; i < get_skills.length; i++){
        if (get_skills[i].checked) { 
          checked_skills.push(get_skills[i]); 
          console.log(get_skills[i]);
        }
      }
      if (checked_skills.length != 2) {
        return false;
      }
      var skills = checked_skills[0].value + ', ' + checked_skills[1].value;
      addNewFeature(url, csrf, name, desc, skills, 'background');
      return false;
    })
    // cancel update
    $(document).on('click', '.cancel', function() {
      var update = $(this).attr('data-update');
      $('.info-text-edit-' + update).empty();
      $('.info-text-' + update).show();
    });
    // count checked
    $(document).on('click', '.skill_checkbox', function() {
      let checkbox = $('input[name="choose_skill"]');
      let chosen = 0;
      for (let i = 0; i < checkbox.length; i++) {
        if (checkbox[i].checked) {
          chosen += 1;
        }
      }
      if (chosen === class_skill_limit) {
        document.getElementsByClassName('skill_count')[0].style.color = '#16a085';
      } else if (chosen > class_skill_limit) {
        document.getElementsByClassName('skill_count')[0].style.color = '#ff0000';
      }
      document.getElementById('skills_chosen').innerHTML = chosen;
    })
    // apply checked
    $(document).on('click', '.submit_skills', function() {
      let checkbox = $('input[name="choose_skill"]');
      let chosen = 0;
      let skills = [];
      for (let i = 0; i < checkbox.length; i++) {
        if (checkbox[i].checked) {
          chosen += 1;
          skills.push(checkbox[i].value);
        }
      }
      if (skills.length != class_skill_limit) {
        document.getElementsByClassName('skills_alert')[0].style.display = 'block';
        return false;
      }
      let add_skill = skills.join(', ');
      add_skill_set(url, csrf, add_skill);

      return false;
    })
  })
</script>
{% endblock %}
