<div class="modal-header">
  <h5 class="modal-title">New NPC</h5>
</div>
<div class="modal-body">
  <form class="new_npc_form">
    <div class="form-group">
      <label for="npc_name">Name:</label>
      <input type="text" name="npc_name" class="form-control">
    </div>
    <div class="form-group">
      <label for="npc_dialog">Dialog</label>
      <textarea name="npc_dialog" class="form-control" rows="8" cols="80"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" name="button">Create New NPC</button>
  </form>
</div>
