{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Open RPG</title>
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body>
    <div class="container-fluid">
        <div class="top-bar">
          <h6>Top Bar</h6>
        </div>
    </div>
    {% block content %}{% endblock %}

    <script type="text/javascript" src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    {% block bottomscript %}{% endblock %}

  </body>
</html>
