{% extends 'base.html' %}
{% block content %}
<img src="/static/images/mountain.jpeg" alt="Mountain">
<div class="container home">
  
  <h1>Welcome to Open RPG</h1>
  <p>Using 5th edition D&amp;D rules, keep track of your character, create &amp; manage campaigns</p>
  <p>Easy to use and it's free!</p>
  <p>Sign-up today</p>
  <br><br>
  <p>This is completely free, it's more of a passion project since I really like D&amp;D. It's for all to use, if you want to support the website you can join our Patreon or disable Ad-Block (I don't like Ads either). If you have any questions or would like something changed or modified to the website join the discussion on our Forum.<br>Enjoy your Adventure!</p>
  <br><br>
  <a href="/authenticate/login" class="btn btn-primary">Login</a> <a href="/authenticate/register" class="btn btn-primary">Register</a>
</div>
{% endblock %}
